<!DOCTYPE html>
<html>

<head>
    <title>Domains</title>
    <link rel="stylesheet" href="../../static/css/domains.css">
    <style>
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li>Hello {{user}}</li>
                <li><a href="/logout">Đăng xuất</a></li>
            </ul>
        </nav>
    </header>
    <div class="domain">
        <div class="table-heading">
            <h2>Domain</h2>
        </div>
        <h3>{{message}}</h3>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Tên miền</th>
            <th>Trạng thái</th>
            <th>ID</th>
            <th>Ngày tạo</th>
        </tr>
        {% for domain in domains %}
        <tr>
            <td>{{domain.id}}</td>
            <td><a href="/users/{{user_id}}/domains/{{domain.id}}/origins">{{domain.name}}</a></td>
            <td>{{ "Activate" if domain.status|int == 1 else "Deactivate" }}</td>
            <td>{{domain.domain_id}}</td>
            <td>{{domain.create_at}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="add-domain-button">
        <button onclick="window.location.href='/users/{{user_id}}/create-domain'">Thêm Domain</button>
    </div>
    <div>
        <img src="../../static/images/tho1.png" alt="tho-con" style="width:304px;height:228px;">
        <img src="../../static/images/tho2.png" alt="tho-con" style="width:304px;height:228px;">
    </div>
</body>

</html>