<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/index.css">

</head>

<body>
    <div class="container">
        <img src="static/images/tho1.png" alt="tho-con" style="width:304px;height:228px;">
        <img src="static/images/tho2.png" alt="tho-con" style="width:304px;height:228px;">
        <h1>Welcome to the Homepage</h1>

        <div class="section">
            <div class="button-row">
                <h2 class="section-title"><a class="back-button" href="/customers">Customers</a></h2>
            </div>
        </div>

        <div class="video-container">
            <a href="/static/filezip.zip">Download Zip</a>
            <video controls>
                <source src="/static/videos/video2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</body>

</html>